$form_login_background_image: radial-gradient(circle at center, blue, green);
$form_login_box_shadow: #ECECEC;

.form-login {
  position: relative;
  font-family: 'Indie Flower', cursive, sans-serif;
  width: 25%;
  padding: 50px 20px;
  background-image: $form_login_background_image;
  border-radius: 3px;
  box-shadow: 1px 1px 1px $form_login_box_shadow;
  margin: 0;
    h1 {
      font-family: 'Indie Flower', cursive, sans-serif;
      font-size: 60px;
      margin-bottom: 30px;
      font-weight: bold;
      text-align: center;
      }

    btn {
    width: 100%;
    line-height: 30px;
        }
}

